<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CrowdHelper | {% block title %}Home{% endblock %}</title>
</head>
<body>

{% block body %}
    Default body block
{% endblock %}

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ PATH_URL }}/assets/js/annyang.js"></script>
<script>
    if (annyang) {

        var commands = {
            // annyang will capture anything after a splat (*) and pass it to the function.
            // e.g. saying "Show me Batman and Robin" is the same as calling showFlickr('Batman and Robin');
            'show me *term': showFlickr,

            // A named variable is a one word variable, that can fit anywhere in your command.
            // e.g. saying "calculate October stats" will call calculateStats('October');
            'calculate :month stats': calculateStats,

            // By defining a part of the following command as optional, annyang will respond to both:
            // "say hello to my little friend" as well as "say hello friend"
            'say hello (to my little) friend': greeting
        };

        var showFlickr = function (term) {
            var url = 'http://api.flickr.com/services/rest/?tags=' + tag;
            $.getJSON(url);
        }

        var calculateStats = function (month) {
            $('#stats').text('Statistics for ' + month);
        }

        var greeting = function () {
            $('#greeting').text('Hello!');
        }


        // Add our commands to annyang
        annyang.addCommands(commands);
        annyang.debug(true);
        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
    }
</script>
</body>
</html>