<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CrowdHelper | {% block title %}Home{% endblock %}</title>
</head>
<body>

{% block body %}
    Default body block
{% endblock %}

</body>
</html>