<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CrowdHelper | {% block title %}Home{% endblock %}</title>
</head>
<body>

{% block body %}
    Default body block
{% endblock %}

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>