{% extends "layouts/html.twig" %}

{% block body %}
    <h1>Voir un désastre</h1>

    {{ name }}

    <ul>
        {% for cle, truc in liste %}
            <li>{{ cle }} -> {{ truc }}</li>
        {% endfor %}
    </ul>
{% endblock %}